@page
@model AutoCompanyWebApplication.Pages.HRPages.AddingNewDriverModel
@{
	ViewData["Title"] = "New driver";
}

<br />
<h2>New Driver</h2>

@if (Model.errorMessage.Length > 0) {
    <div class = "alert alert-warning alert-dismissible fade show" role = "alert">
        <strong>@Model.errorMessage</strong>
        <button type = "button" class = "btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">
	<div class = "row mb-3">
        <label class = "col-sm-3 col-form-label">Surname</label>
        <div class = "col-sm-6">
            <input type = "text" class = "form-control" name = "surname" value = "" autocomplete="off"/>
        </div>
    </div>
	<div class = "row mb-3">
        <label class = "col-sm-3 col-form-label">Name</label>
        <div class = "col-sm-6">
            <input type = "text" class = "form-control" name = "name" value = "" autocomplete="off"/>
        </div>
    </div>
	<div class = "row mb-3">
        <label class = "col-sm-3 col-form-label">Middle name</label>
        <div class = "col-sm-6">
            <input type = "text" class = "form-control" name = "middleName" value = "" autocomplete="off"/>
        </div>
    </div>
	<div class = "row mb-3">
        <label class = "col-sm-3 col-form-label">Birthday</label>
        <div class = "col-sm-6">
            <input type = "text" class = "form-control" name = "birthday" value = "" autocomplete="off"/>
        </div>
    </div>
	<div class = "row mb-3">
        <label class = "col-sm-3 col-form-label">Admission year</label>
        <div class = "col-sm-6">
            <input type = "number" class = "form-control" name = "admissionYear" value = "" autocomplete="off"/>
        </div>
    </div>
	<div class = "row mb-3">
        <label class = "col-sm-3 col-form-label">Experience</label>
        <div class = "col-sm-6">
            <input type = "number" class = "form-control" name = "experience" value = "" autocomplete="off"/>
        </div>
    </div>
	<div class = "row mb-3">
        <label class = "col-sm-3 col-form-label">Telephone</label>
        <div class = "col-sm-6">
            <input type = "text" class = "form-control" name = "telephone" value = "" autocomplete="off"/>
        </div>
    </div>
	<div class = "row mb-3">
        <label class = "col-sm-3 col-form-label">Address</label>
        <div class = "col-sm-6">
            <input type = "text" class = "form-control" name = "address" value = "" autocomplete="off"/>
        </div>
    </div>
    <div class = "row mb-3">
        <label class = "col-sm-3 col-form-label">Categories</label>
        <div class = "col-sm-6">
            <select multiple name="items" SelectionMode = "multiple" >
                @foreach (var item in AddingNewDriverModel.categories)
                {
                    <option value="@item.Category">@item.Category</option>
                }
            </select>
        </div>
    </div>
	<div class = "row mb-3">
        <div class = "offset-sm-3 col-sm-3 d-grid">
            <button type = "submit" class="button-35">Submit</button>
        </div>
    </div>
</form>